@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root {
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color: #272727;
    /* font families */
    --montserrat-font: "Montserrat", sans-serif;
    --krona-font: "Krona One", sans-serif;
}


#root {
  margin: 0 auto;
  text-align: center;
}


